@import '../abstracts/mixin';
@import '../abstracts/variables';
@import '../abstracts/placeholders';

%link {
    font-family: $font;
    @extend %link-button;
    color: $text-d;
    text-decoration: none;
    transition: text-decoration 2s ease;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

%link-to-btn {
    font-family: $font;
    @extend %link-button;
    text-decoration: none;
    color: $text-d;
    background-color: $bg-body;
    border-radius: 2rem;
    border: 0.0625rem solid $brd-l;
    padding: 1.2rem 4.25rem;
    margin-right: 23rem;
    text-align: center;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

%btn-l {
    width: fit-content;
    @extend %link;
    background-color: transparent;
    transition:
        background-color 0.5s,
        color 0.5s;
    cursor: pointer;
    &:hover {
        background-color: $bg-bg;
        color: $text-l;
    }
}

%btn-d {
    width: fit-content;
    font-family: $font;
    @extend %link-button;
    color: $text-l;
    background-color: $bg-bg;
    transition:
        background-color 0.5s,
        color 0.5s;
    cursor: pointer;
    &:hover {
        background-color: transparent;
        color: $text-d;
    }
}
