@import '../abstracts/mixin';
//Typography
%heading-1 {
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 105%;
}
%heading-1accent {
    font-style: italic;
}
%heading-2 {
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 125%;
}
%heading-2accent {
    font-style: italic;
}
%heading-3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 125%;
}
%medium {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
}
%caption {
    font-size: 0.625rem;
    font-weight: 600;
    line-height: 140%;
}
%link-button {
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
}
%burger-link {
    font-size: 2rem;
    font-weight: 600;
    line-height: 125%;
}
