//шрифт
$font: "Inter", sans-serif;

//размеры
$desktop: 1440px;
$tablet: 768px;
$mobile: 380px;

//цвета
$text-d: #403f3d;
$text-l: #e1d4c9;
$text-a: #b0907a;
$bg-body: #e1d4c9;
$bg-cont: #665f55;
$bg-bg: #403f3d;
$brd-l: #c1b6ad;
$brd-d: #665f55;
