@import "../abstracts/mixin";
@import "../abstracts/variables";
@import "../abstracts/placeholders";

@import "../base/h1-h3";
@import "../components/link-and-btn";

%card-menu {
  .card__img {
    color: white;
  }
  h3 {
    @extend %heading-3;
    font-family: $font;
    color: $text-d;
    text-align: center;
  }
  .text {
    text-align: center;
  }
  .price {
    @extend %heading-3;
    font-family: $font;
    color: $text-d;
    text-align: center;
  }
}
